[Unit]
Description=Americancoin Daemon

[Service]
# use `simple` for docker-installed americancoind, otherwise forking
# (`simple` is default, so you can just leave the below line commented out)
#Type=forking
ExecStart=%h/.local/bin/americancoind
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
