[Unit]
Description=Americancoin Daemon

[Service]
Type=forking
ExecStart=%h/bin/americancoind
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
