[Unit]
Description=dockerfs: show docker images as files
[Service]
ExecStart=%h/.local/bin/dockerfs.py
Restart=always
[Install]
WantedBy=default.target
