[Unit]
Description=IPFS, InterPlanetary File System

[Service]
Type=simple
ExecStart=%h/bin/%N daemon
ExecStop=%h/bin/%N shutdown

[Install]
WantedBy=default.target
