[Unit]
Description=Americancoin miner
Requires=americancoind.service
After=americancoind.service

[Service]
Type=simple
Environment="SALSA64=salsa20_macro64"
ExecStart=%h/bin/simpleminer.py
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
